.DropDown {
    display: block;
    width: 100%;
}

.DropDown_title {
    display: block;
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-size: .65rem;
    color: rgba(0, 0, 0, .5);
    transition: all 250ms ease;
}

.DropDown_input {
    border: none;
    display: block;
    font-size: 16px;
    margin-bottom: .25rem;
    outline: none;
    width: 100%;
    background-color: transparent;
    appearance: none;
    position: relative;
    z-index: 1;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: right;
}

.DropDown_input::placeholder {
  font-style: italic;
  color: rgba(0,0,0,.25);
}

.DropDown_highlight {
    display: block;
    background-color: pink;
    height: 1px;
    overflow: hidden;
}

.DropDown_highlightItem {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #673AB7;
    transform: translate3d(-100%,0,0);
    transition: all 250ms ease;
}
