.home {
	margin-top: 56px;
	min-height: 100%;
	width: 100%;
}

.Compasitor {
  padding: 2rem;
}

.ResultPaper {
  background-color: #fff;
  padding: 2rem;
  font-family: courier,console,monospace;
  min-height: 100vh;
  line-height: 1.5;
}
