.result {
  text-transform: capitalize;
  padding: 1rem 3rem 1rem 1rem;
  border: 1px solid transparent;
  position: relative;
}

.result p {
  margin: 0;
}

.result:hover,
.result:focus {
  border-color: #673AB7;
  transition: all 250ms ease;
}


.resultAction {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease;
}

.resultAction a {
  display: inline-block;
  padding: .5rem;
  background-color: #673AB7;
  line-height: 1;
  color: #fff;
}

.resultAction a:hover,
.resultAction a:focus {
  opacity: .5;
}

.result:hover .resultAction,
.result:focus .resultAction{
  display: inline-block;
  visibility: visible;
  opacity: 1;
  transition: all 250ms ease;

}
