@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

html {
	font-family: 'Roboto';
	font-size: 100%;
  background-color: #f3f3f3;
  color: #444;
}
